.about-publ {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: start;

    margin-top: 4rem;
}

.about-publ .about-text {
        grid-column: 2;
        grid-row: 1;

        display: flex;
        flex-direction: column;

        max-width: 32rem;
    }

.about-publ .about-img {
        grid-column: 1;
        grid-row: 1;
        position: relative;

        width: 458px;
        height: 600px;
    }

.about-publ .about-img img {
            max-width: 30rem;
            position: absolute;

            top: 0;
            z-index: 3;
        }

.about-publ .about-img .about-layer-02 {
            background-color: var(--third-color);
            width: 438px;
            height: 580px;

            position: absolute;
            top: .5rem;
            left: .5rem;
            z-index: 2;
        }

.about-publ .about-img .about-layer-03 {
            background-color: var(--first-color);
            width: 438px;
            height: 580px;

            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 1;
        }

@media (max-width: 720px){
    .about-publ {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2rem 2rem;
    }

        .about-publ .about-text {
            max-width: 21.5rem;

            margin-bottom: .8rem;
        }

        .about-publ .about-img {
            width: 320px;
            height: 423px;

            margin-right: 0rem;
        }

            .about-publ .about-img img {
                max-width: 20rem;
            }

            .about-publ .about-img .about-layer-02 {
                width: 320px;
                height: 423px;
            }

            .about-publ .about-img .about-layer-03 {
                width: 320px;
                height: 423px;
            }
}