.button-main{
    text-align: center;
}
.button-main .button-title{
        font-family: var(--second-fmly);
        color: var(--first-color);
        font-weight: bolder;
        font-size: 1.6rem;
        
    }
.button-main div{

        display: flex;
        align-items: center;
        justify-content: center;
    }
.button-main div a {
            cursor: pointer;

            margin-top: 1rem;
        }
.button-main div .button-cnt{
            font-family: var(--second-fmly);
            font-weight: bolder;

            padding: .8rem .4rem;

            background-color: var(--third-color);

            display: flex;
            align-items: center;
            justify-content: center;

            transition: .2s ease;
        }
.button-main div .button-cnt img{
                margin-right: .6rem;
            }
.button-main div .button-cnt:hover{
            padding: 1rem .7rem;
        }