.main-publ {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

    margin-top: 4rem;
}

.main-publ .publ-text {
        grid-column: 1;

        display: flex;
        flex-direction: column;

        max-width: 32rem;
    }

.main-publ .publ-img {
        grid-column: 2;
        position: relative;

        width: 400px;
        height: 290px;

        margin-right: 5rem;
    }

.main-publ .publ-img img {
            max-width: 30rem;
            position: absolute;

            top: 0;
            z-index: 3;
        }

.main-publ .publ-img .img-layer-02 {
            background-color: var(--third-color);
            width: 480px;
            height: 350px;

            position: absolute;
            top: .5rem;
            left: .5rem;
            z-index: 2;
        }

.main-publ .publ-img .img-layer-03 {
            background-color: var(--first-color);
            width: 480px;
            height: 350px;

            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 1;
        }
/* mobile */

@media (max-width: 720px) {

    .main-publ {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2rem 1rem;
}

        .main-publ .publ-text {
            max-width: 21.5rem;

            margin-bottom: .8rem;
        }

        .main-publ .publ-img {
            width: 320px;
            height: 232px;

            margin-right: 0rem;
        }

            .main-publ .publ-img img {
                max-width: 20rem;
            }

            .main-publ .publ-img .img-layer-02 {
                width: 320px;
                height: 232px;
            }

            .main-publ .publ-img .img-layer-03 {
                width: 320px;
                height: 232px;
            }
    }