.content-top {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
}

.content-top .img-top {
        width: 100vw;

        filter: brightness(56%);
    }

.content-top h2 {
        text-align: center;
        font-family: var(--h2-fmly);
        font-size: var(--h2-ft);
        color: var(--h2-color);

        position: absolute;
        z-index: 2;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 90%;
        max-width: 800px;
    }

.content-top h2 span {
            color: var(--third-color);
        }

.banner-bt {
    background-color: var(--third-color);
    padding: 1rem;
    overflow-x: hidden;
}

.banner-bt .carroussel-bt {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6.5rem;

        animation: carroussel 14s linear infinite;
    }

.banner-bt .carroussel-bt span {
            color: var(--second-color);
            font-size: 1.3rem;
            font-weight: bolder;
            font-family: var(--second-fmly);
        }

/* mobile */

@media (max-width: 720px) {
        .banner-bt .carroussel-bt {
            gap: 2rem;
        }
    }

@keyframes carroussel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}